
// Framework
@import "variables.scss";
@import "mixins.scss";
// CSS Animation
// @import "01-animation.scss";

/*------------------------------------*\
:    Buttons
\*------------------------------------*/

.c-button,
.btn,
.gform_button,
.wp-block-button {
  border: 2px solid $blue;
  color: $blue;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  @include headingfont;
  @include buttontext;
  transition: all 0.2s ease-out;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      color: $red;
    }
  }
  
  .wp-block-button__link {
    background: none;
    border-radius: 0;
    font-size: inherit;
    padding: inherit;
  }
  // &:not(.c-select):not(.c-site-nav-button):not([href]) {
  //   @include buttonClick();
  // }

  &:hover {
    color: $red;
    border-color: $red;
    text-decoration: none!important;
  }

  &::before {
    display: none;
  }

  &--grey {
    background-color: $lightgrey;
    color: $black;
  }

  &--small {
    padding: 0.3em 0.6em;
    height: auto;
    line-height: 1em;
    text-transform: lowercase;
    border: none;
    // @include buttontextsmall;
  }
  @include tablet-landscape {
  }
}

.wp-block-button.is-style-outline {
  border: none;
  color: $red;
  text-transform: initial;
  padding-left: 0;
  a {
    border: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

/* suppress hover effect on devices that don't support hover fully */
@media (hover:none),
(hover:on-demand) {
  button,
  .c-button {
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}