/*------------------------------------*\
:    Variables
\*------------------------------------*/
/*------------------------------------*\
:    Mixins - Type
\*------------------------------------*/
/*------------------------------------*\
:    Mixins - Flexbox
\*------------------------------------*/
/*------------------------------------*\
:    Mixins - Miscellaneous
\*------------------------------------*/
/*------------------------------------*\
:    Mixins - Media Queries
\*------------------------------------*/
/*---------------------------------------*\
:    Mixins - Mobile-first Media Queries
:    Usage @include media(tablet) {}
\*---------------------------------------*/
/*------------------------------------*\
:    Header
\*------------------------------------*/
.c-site-header {
  position: fixed;
  background-color: #f9f8f6;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 888;
  padding: 50px 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden; }
  .c-site-header.has-menu-open {
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

/*------------------------------------*\
:    Header - Site navigation
\*------------------------------------*/
.custom-logo-link {
  width: 30vh;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .custom-logo-link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .custom-logo-link img {
    width: 100%;
    height: auto; }

nav.c-site-nav ul {
  position: relative;
  margin-top: 1em; }

nav.c-site-nav li {
  margin-bottom: 1em; }
  nav.c-site-nav li.is-open .c-sub-menu {
    pointer-events: auto; }
  nav.c-site-nav li.is-open .c-sub-menu__inner {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  nav.c-site-nav li.current-menu-item a,
  nav.c-site-nav li.current-menu-parent a {
    color: #2d72a9; }
  nav.c-site-nav li.menu-item-has-children {
    position: relative; }
    nav.c-site-nav li.menu-item-has-children > a:after {
      content: "\edbf";
      font-family: 'icomoon' !important;
      font-size: 18px;
      margin-left: 0.5em;
      vertical-align: baseline; }
      @media (min-width: 0px) and (max-width: 1024px) {
        nav.c-site-nav li.menu-item-has-children > a:after {
          font-size: 15px; } }
      @media (min-width: 0px) and (max-width: 767px) {
        nav.c-site-nav li.menu-item-has-children > a:after {
          font-size: 15px; } }

nav.c-site-nav a {
  display: block;
  color: #2b4254;
  text-decoration: none;
  font-size: 26px;
  font-family: 'Montserrat', serif;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  @media (min-width: 0px) and (max-width: 1150px) {
    nav.c-site-nav a {
      font-size: 24px; } }
  @media (min-width: 0px) and (max-width: 1080px) {
    nav.c-site-nav a {
      font-size: 20px; } }
  @media (min-width: 0px) and (max-width: 1023px) {
    nav.c-site-nav a {
      font-size: 18px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    nav.c-site-nav a {
      font-size: 26px; } }
  nav.c-site-nav a:hover {
    color: #f25132; }

nav.c-site-nav .c-sub-menu {
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
  -webkit-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out; }

nav.c-site-nav .c-sub-menu__inner {
  padding: 20px;
  background: #f25132;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out; }

nav.c-site-nav ul.sub {
  margin-left: 0;
  display: block; }
  nav.c-site-nav ul.sub a {
    color: #fff;
    font-size: 22px; }
    @media (min-width: 0px) and (max-width: 1024px) {
      nav.c-site-nav ul.sub a {
        font-size: 18px; } }
    nav.c-site-nav ul.sub a:hover {
      color: #2d72a9; }
  nav.c-site-nav ul.sub li.current-menu-item a {
    color: #2b4254; }

@media (min-width: 0px) and (max-width: 767px) {
  nav.c-site-nav li {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: transform; }
    nav.c-site-nav li.current-menu-item > a,
    nav.c-site-nav li.current-menu-parent > a {
      color: #2b4254; }
    nav.c-site-nav li.menu-item-has-children > a:after {
      font-size: 16px; }
    nav.c-site-nav li:nth-child(1) {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s; }
    nav.c-site-nav li:nth-child(2) {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    nav.c-site-nav li:nth-child(3) {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s; }
    nav.c-site-nav li:nth-child(4) {
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s; }
    nav.c-site-nav li:nth-child(5) {
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s; }
    nav.c-site-nav li:nth-child(6) {
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s; }
    nav.c-site-nav li:nth-child(7) {
      -webkit-transition-delay: 0.7s;
      transition-delay: 0.7s; }
    nav.c-site-nav li.is-open .c-sub-menu {
      max-height: 999px; }
      nav.c-site-nav li.is-open .c-sub-menu li {
        -webkit-transform: translateX(0%);
        transform: translateX(0%); }
  nav.c-site-nav .c-sub-menu {
    position: static;
    max-height: 0;
    -webkit-transition: max-height 0.4s ease;
    transition: max-height 0.4s ease; }
    nav.c-site-nav .c-sub-menu li {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
  nav.c-site-nav .c-sub-menu__inner {
    padding: 0;
    opacity: 1;
    background: transparent; }
  nav.c-site-nav ul.sub a:hover {
    color: #2d72a9; }
  nav.c-site-nav ul.sub li.current-menu-item a {
    color: #2b4254; }
  nav.c-site-nav.is-active {
    visibility: visible; }
    nav.c-site-nav.is-active ul.menu > li {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); } }

/*------------------------------------*\
:    Header - Hamburger mobile
\*------------------------------------*/
.c-site-nav-button {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 27px;
  right: 40px;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s; }
  .c-site-nav-button:hover .c-site-nav-button__line {
    background-color: #2b4254; }
  .c-site-nav-button.is-active .c-site-nav-button__line {
    background-color: #f25132;
    -webkit-transition: top 150ms ease-in-out, -webkit-transform 150ms 150ms ease-in-out;
    transition: top 150ms ease-in-out, -webkit-transform 150ms 150ms ease-in-out;
    transition: top 150ms ease-in-out, transform 150ms 150ms ease-in-out;
    transition: top 150ms ease-in-out, transform 150ms 150ms ease-in-out, -webkit-transform 150ms 150ms ease-in-out; }
    .c-site-nav-button.is-active .c-site-nav-button__line.c-site-nav-button__line--1 {
      top: 23px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .c-site-nav-button.is-active .c-site-nav-button__line.c-site-nav-button__line--2 {
      top: 23px;
      opacity: 0;
      -webkit-transition: opacity 150ms ease-in-out;
      transition: opacity 150ms ease-in-out; }
    .c-site-nav-button.is-active .c-site-nav-button__line.c-site-nav-button__line--3 {
      top: 23px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  @media (min-width: 0px) and (max-width: 1024px) {
    .c-site-nav-button {
      right: 20px;
      top: 10px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .c-site-nav-button {
      right: 0;
      top: 0; } }

.c-site-nav-button__line {
  width: 30px;
  height: 3px;
  background: #8a9ba8;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: top 150ms 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: top 150ms 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: top 150ms 150ms ease-in-out, transform 150ms ease-in-out;
  transition: top 150ms 150ms ease-in-out, transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out; }
  .c-site-nav-button__line.c-site-nav-button__line--1 {
    top: 14px; }
  .c-site-nav-button__line.c-site-nav-button__line--2 {
    top: 24px;
    -webkit-transition: opacity 150ms 150ms ease-in-out;
    transition: opacity 150ms 150ms ease-in-out; }
  .c-site-nav-button__line.c-site-nav-button__line--3 {
    top: 34px; }

/*------------------------------------*\
:    Header - Back
\*------------------------------------*/
.c-nav-parent {
  position: fixed;
  z-index: 99;
  top: 27px;
  right: 100px;
  font-size: 22px;
  line-height: 1;
  height: 50px;
  color: #8a9ba8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .c-nav-parent:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .c-nav-parent:hover {
    color: #2b4254;
    text-decoration: none; }
  .c-nav-parent .icon-arrow-left {
    font-size: 30px; }
  @media (min-width: 0px) and (max-width: 1024px) {
    .c-nav-parent {
      top: 10px;
      right: 80px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .c-nav-parent {
      top: 0;
      right: 60px; } }

/*------------------------------------*\
:    Header - Search
\*------------------------------------*/
/*------------------------------------*\
:    Header - layout
\*------------------------------------*/
.c-site-header__inner {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  height: 100%; }

body.no-scroll {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  body.no-scroll .c-site-header.scroll-header {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

/*------------------------------------*\
:    Mobile menu background fade
\*------------------------------------*/
.c-fade-filter {
  position: fixed;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  background-color: #2d72a9;
  z-index: -1;
  opacity: 0;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  pointer-events: none; }
  .c-fade-filter.is-active {
    z-index: 90;
    opacity: 0.9;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    pointer-events: auto; }
  .c-fade-filter.is-white {
    z-index: 1;
    background-color: #ffffff;
    -webkit-transition-delay: none;
    transition-delay: none;
    -webkit-transition: all 0s 0s ease-in-out;
    transition: all 0s 0s ease-in-out; }

/*# sourceMappingURL=maps/06-header.css.map */
